* {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a {
  color: #365958;
}

a:hover {
  color: #32A6A1;
}

.btn {
  padding: 0.5em 1em;
  background: #cfe5e4;
  color: #26807b;
  border: none;
  text-shadow: none;
  line-height: 1em;
}

.btn.btn-primary {
  background: #4898E5;
  color: #fff;
}

.btn:hover,
.btn:active {
  color: #26807b;
  background-color: #41D9D2;
}
.btn.btn-primary:hover,
.btn.btn-primary:active {
  color: #fff;
  background-color: #3CC8F0;
}

.btn.btn-info {
  color: #fff;
  background-color: #41D9D2;
}

.btn.btn-info:hover,
.btn.btn-info:active {
  color: #fff;
  background-color: #39BFB9;
}

.btn.btn-success {
  color: #fff;
  background-color: #13bf55;
}

.btn.btn-success:hover,
.btn.btn-success:active {
  color: #fff;
  background-color: #3AE57C;
}

.btn.btn-warning {
  color: #fff;
  background-color: #f80;
}

.btn.btn-warning:hover,
.btn.btn-warning:active {
  color: #fff;
  background-color: #fb3;
}

.btn.btn-danger {
  color: #fff;
  background-color: #c00;
}

.btn.btn-danger:hover,
.btn.btn-danger:active {
  color: #fff;
  background-color: #f44;
}

.btn.btn-large {
  font-size: 125%;
}
.btn.btn-vlarge {
  font-size: 175%;
}
.btn.btn-xlarge {
  font-size: inherit;
  font-size: 250%;
}

img.pull-left {
  margin-right: 10px;
}
img.pull-right {
  margin-left: 10px;
}
.nav a{
  text-decoration: none;
}

.navbar .navbar-inner .nav {
  position: static;
  left: auto;
  float: none;
  margin: 0 auto;
  max-width: 1170px;
  height: 44px;
}

.navbar .navbar-inner .nav > li > a {
  display: inline-block;
  padding: 12px 24px;
  text-shadow: none;
}

.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
  color: #fff;
  background-color: #39BFB9;
}

.dropdown-menu li > a:hover {
  background: #39BFB9;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(59, 235, 177, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(59, 235, 177, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(59, 235, 177, 0.6);
}